@page "/leave-types/details/{id:int}"
@model HR.LeaveManagement.WebRazorPage.Pages.LeaveTypes.DetailsModel
@{
    ViewData["Title"] = "Leave Type Details";
}

<h1>Leave Type Details</h1>
<hr />

@if (Model.LeaveTypeDetails != null)
{
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.LeaveTypeDetails.Name</dd>
        <dt class="col-sm-3">Default Days</dt>
        <dd class="col-sm-9">@Model.LeaveTypeDetails.DefaultDays</dd>
        <dt class="col-sm-3">Date Created</dt>
        <dd class="col-sm-9">@Model.LeaveTypeDetails.DateCreated</dd>
        <dt class="col-sm-3">Date DateModified</dt>
        <dd class="col-sm-9">@Model.LeaveTypeDetails.DateModified</dd>
    </dl>

    <div>
        @if (User.IsInRole("Administrator"))
        {
            <a asp-page="Edit" asp-route-id="@Model.LeaveTypeDetails.Id" asp-route-isFromDetailPage="true" class="btn btn-warning">Edit</a>
            <button data-id="@Model.LeaveTypeDetails.Id" class="btn btn-danger deleteBtn">Delete</button>
        }

        <a asp-page="Index" class="btn btn-dark">Back</a>
    </div>

    <form method="post">
        @Html.AntiForgeryToken()
    </form>
}
else
{
    <div class="alert alert-warning text-center" role="alert">
        No Leave Type data found.
    </div>
    <div>
        <a asp-page="Index" class="btn btn-dark">Back</a>
    </div>
}

@section Scripts {
    <script>
        $(function () {
            $(document).on('click', '.deleteBtn', function (event) {
                event.preventDefault();

                const btn = $(this);
                const id = btn.data("id");
                const token = $('input[name="__RequestVerificationToken"]').val();

                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch('/leave-types/delete', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'RequestVerificationToken': token
                            },
                            body: JSON.stringify({ id: id })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success)
                            {
                                Swal.fire({
                                    title: "Deleted!",
                                    text: "Your item has been deleted.",
                                    icon: "success"
                                }).then(() => {
                                    window.location.href = '/leave-types';
                                });
                            } else {
                                Swal.fire({
                                    title: "Error!",
                                    text: data.message || "Delete failed.",
                                    icon: "error"
                                }).then(() => {
                                    window.location.href = '/leave-types';
                                });
                            }
                        })
                        .catch(error => {
                            Swal.fire({
                                title: "Error!",
                                text: "Something went wrong.",
                                icon: "error"
                             }).then(() => {
                                 window.location.href = '/leave-types';
                             });
                        });
                    }
                });
            });
        });

        $(function() {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                Swal.fire({
                    toast: true,
                    position: 'top-end',
                    icon: 'success',
                    title: successMessage,
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    customClass: {
                        popup: 'small-swal'
                    }
                });
            }
        });
    </script>
}
