@page "/leave-types"
@model HR.LeaveManagement.WebRazorPage.Pages.LeaveTypes.IndexModel
@{
    ViewData["Title"] = "Leave Types";
}

<h1>Leave Types</h1>
<hr />
<div class="m-2 d-flex justify-content-end">
    <a asp-page="Create" class="btn btn-success">Add Leave Type</a>
</div>
<br />

@if (Model.LeaveTypes == null)
{
    <p>Loading Data...</p>
}
else
{
    <table id="leaveType-table" class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">Name</th>
                <th class="text-center" scope="col">Default Days</th>
                <th class="text-center" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var leaveType in Model.LeaveTypes)
            {
                <tr id="leaveType-@leaveType.Id">
                    <td>@leaveType.Name</td>
                    <td class="text-center" text-center">@leaveType.DefaultDays</td>
                    <td class="text-center">
                        <button class="btn btn-dark">Allocate Leave</button>
                        <a asp-page="Edit" asp-route-id="@leaveType.Id" class="btn btn-warning">Edit</a>
                        <a asp-page="Details" asp-route-id="@leaveType.Id" class="btn btn-info">Details</a>
                        <button data-id="@leaveType.Id" class="btn btn-danger deleteBtn">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form method="post">
        @Html.AntiForgeryToken()
    </form>
}

@section Scripts {
    <script>
        $(function () {
            const table = $('#leaveType-table').DataTable({
                columnDefs: [
                    { targets: -1, orderable: false, searchable: false }
                ],
                order: []
            });

            $(document).on('click', '.deleteBtn', function (event) {
                event.preventDefault();

                const btn = $(this);
                const id = btn.data("id");
                const token = $('input[name="__RequestVerificationToken"]').val();

                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch('/leave-types/delete', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'RequestVerificationToken': token
                            },
                            body: JSON.stringify({ id: id })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success)
                            {
                                const rowToDelete = $('#leaveType-' + data.id);
                                table.row(rowToDelete).remove().draw();

                                Swal.fire({
                                    title: "Deleted!",
                                    text: "Your item has been deleted.",
                                    icon: "success"
                                });
                            } else {
                                Swal.fire({
                                    title: "Error!",
                                    text: data.message || "Delete failed.",
                                    icon: "error"
                                });
                            }
                        })
                        .catch(error => {
                            Swal.fire({
                                title: "Error!",
                                text: "Something went wrong.",
                                icon: "error"
                             });
                        });
                    }
                });
            });
        });
    </script>
}
